<section class="window" id="first">
<div id="bnbutton">
  <ul class="header">
    <li><a href="/shows.html" class="animsition-link"> SHOWS</a></li>
    <li class="heydave"><a href="http://www.theblacknumbers.com/" target="_blank"><%= image_tag("bn.png", :class=>"bn", ) %></a></li>
    <li><a href="mailto:weareinthepines@gmail.com"> CONTACT</a></li>
  </ul>
</div>
<div class="logos">
  <%= image_tag("itpwhitenu.png", :class => "itplogo white") %>
  <div class="menu">
     <ul class="social">
      <li><%= image_tag("left.png", :class => "listend") %></li>
      <li><a href="https://www.facebook.com/weareinthepines"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/weareinthepines/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/weareinthepines"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="https://weareinthepines.bandcamp.com/releases"><%= image_tag("bandcamp-button-bc-circle-black-128.png", :id => "bandcamp") %></a></li>
       <li><%= image_tag("right.png", :class => "listend") %></li>
     </ul>
    </div>
</div>
</section>
<section class="window" id="foreverGreen">
  <iframe style="border: 0; width: 25%; float: right; position: relative; bottom:0;position: relative;top: 75%;padding-right: 5%; " src="https://bandcamp.com/EmbeddedPlayer/album=4003157427/size=small/bgcol=ffffff/linkcol=2ebd35/artwork=none/transparent=true/" seamless><a href="http://weareinthepines.bandcamp.com/album/forever-green">Forever Green by In The Pines</a></iframe>
</section>
<section class="window" id="shows">
  <h1>SHOWS</h1>
  <div class="showslist">
  <script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script><a href="http://www.bandsintown.com/In%20the%20Pines" class="bit-widget-initializer" data-artist="In the Pines" data-prefix="fbjs">In the Pines Tour Dates</a>
</div></section>
<section class="window" id="bottom">
  <%= image_tag('band.png', :id=>"animals") %><
  </section>