<div>
  <%= image_tag("13002504_1187966441236611_8166257565196467496_o.jpg", :class => "background myButton") %>
  <div class="logos">
  <%= image_tag("itpwhitenu.png", :class => "itplogo white") %>
    <%= image_tag("itpblacknew.png", :class => "itplogo black") %>
  <div class="menu">
    <%= image_tag("left.png", :id => "left") %>
     <ul class="social">
      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="#"><%= image_tag("bandcamp-button-bc-circle-black-128.png", :id => "bandcamp") %></a></li>
      </ul>
    <%= image_tag("right.png", :id => "right") %>
    </div>
  </div>
</div>